/* 定义字体 */
@font-face {
    font-family: 'CustomFont'; /* 自定义字体名称 */
    src: url('../wordstyle/Pattaya-Regular-2.ttf') format('truetype'); /* 字体文件路径 */
}

/* 自定义字体类 */
.custom-font {
    font-family: 'CustomFont', sans-serif; /* 使用自定义字体 */
}

.pagecontainer{
    position: relative;
    justify-content: center;
    margin-top: 20vh;
    margin-left: min(100px, 5vw);
    margin-right: min(100px, 5vw);
    margin-bottom: min(80px, 15vh);
}
.pagebody {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.pagenav {
    height: 700px;
    width: 15%;
    max-width: 720px;
    min-width: 350px;
    position: sticky;
    top: 18vh;
    margin-right: max(25px, 2vw);
    padding: 30px 20px 30px 10px;
    line-height: 1.25;
    display: flex;
    flex-direction: column;
    gap: 2px;
    transform: translateX(-10%);

}
.pagenav>div {
    height: min(3vw, 53px);
    overflow: hidden;
    text-align: center;
    cursor: pointer;
}
.pagenav>div::before{
    content:'';
    width:0;
    height:100%;
    display:inline-block;
    position:relative;
    vertical-align:middle;
}
.pagenav>div>span{
    font-family: Arlon;
    color: #ffffff;
    font-size: min(1.56vw, 24px);
    letter-spacing: 2px;
    vertical-align: middle;
    transition: all 0.2s ease-out;
    font-weight: bold; /* 添加这一行，设置字体加粗 */

}
.pagenav>div>span:hover{
    font-size: min(1.6vw, 26px);
    transition: all 0.1s linear;
}
/*新增索引栏位图片*/
.pagenav .image-container {
    display: flex;
    justify-content: center; /* 图片容器中的内容水平居中 */
    align-items: center; /* 图片容器中的内容垂直居中 */
    height: 100px; /* 图片容器的高度 */
    width: 100px; /* 图片容器的宽度，确保为正方形 */
    margin: 0 auto; /* 图片容器居中对齐 */
    background-image: url("../page/hp-na-lg.jpg");
    background-size: cover; /* 确保图片覆盖整个容器 */
    background-position: center; /* 图片在容器中居中 */
    background-repeat: no-repeat; /* 防止图片重复 */
}


.pagenav .image-container img {
    max-width: 100%; /* 图片在容器内完全填充 */
    max-height: 100%; /* 确保图片高度不超过容器 */
    border-radius: 10px; /* 可选：给图片圆角 */
}
.pagecontent {
    background: #f8f7f7;
    padding: 30px 5%;
    margin-right: 0;
    margin-bottom: 100px;
    position: relative;
    overflow: hidden;
    max-width: 1600px;
    transform: translateY(10vh);
    border-radius: 50px;

}
.pagecontent .h{
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
}
/* Katie! */
.pagecontent .h-maomao{
    width: 100%;
    text-align: right;
    margin-bottom: 40px;
}
.pagecontent .h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 3.07vw;
    font-family: Arlon;
    font-weight: 600;
}

/*hp页面css*/
.hp-bg-image{
    position: fixed;
    top: 0;
    width: 100%;
    /*注意图片需要的像素大小为3000*/
    /*大部分网页长宽比为16：9*/
    height: 3000px;
    /* background: url("../page/hp-bg.jpg"); */
    background: url("../page/hp-bg.jpg");
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    /*原代码有bug*/
    z-index: -1;

}
.subpage-bg-shelter{
    position: fixed; /* 确保位置固定在屏幕 */
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    z-index: 0; /* 设定更高的z-index以覆盖背景图 */
}
.pagecontainer > .title2 > span.style1 {
    font-family: 'CustomFont', Arlon, sans-serif; /* 优先使用自定义字体，其次使用Arlon，最后使用系统默认字体 */
    font-size: 10vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #ffffff;
    margin-left: 20px; /* 设置左边距为20px，可以根据需要调整 */
    /* -webkit-text-stroke: 3px black; */
}
.pagecontainer>.title2>span.style2{
    font-family: 'CustomFont',Arlon;
    font-size: 10vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #ffffff;
    /* -webkit-text-stroke: 3px black; */
}
.pagecontainer>.title2>span.style3 {
    display: block; /* 使这段文本独占一行 */
    font-family: Arial;
    font-size: 6vw; /* 较小的字体大小 */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #919191; /* 灰色文本 */
    margin-top: 10px; /* 与上方文本之间的间距 */
}
.linktype
{
    text-decoration: none; /* 移除下划线 */
    color: inherit; /* 继承父元素的颜色 */
}