/* 个人介绍卡片 */
  .introduction-card {
    background-color: white;
    padding: 20px;/* 内部的padding */
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.466);
    text-align: center;
    transition: transform 0.3s ; /* 平滑过渡效果 */
  }
  .profile-pic {

    width: 6cm; /* 可以根据头像大小调整 */
    height: 6cm;
    border-radius: 50%;
    margin: 0 auto 20 /* 距20px，左右自动适应 */
  }

  @keyframes shake {
    0% {
      -webkit-box-shadow: 0 0 #D9BC55, 0 0 #D9BC55, 0 0 #D9BC55, 0 0 #D9BC55,0 0 #D9BC55, 0 0 #D9BC55, 0 0 #D9BC55, 0 0 #D9BC55, 0 0 #D9BC55,0 0 #D9BC55, 0 0 #D9BC55, 0 0 #D9BC55, 0 0 #D9BC55, 0 0 #D9BC55, 0 0 #D9BC55, 0 0 #D9BC55, 0 0 #D9BC55, 0 0 #D9BC55, 0 0 #D9BC55;
              box-shadow: 0 0 #D9BC55, 0 0 #D9BC55, 0 0 #D9BC55, 0 0 #D9BC55,0 0 #D9BC55, 0 0 #D9BC55, 0 0 #D9BC55, 0 0 #D9BC55, 0 0 #D9BC55,0 0 #D9BC55, 0 0 #D9BC55, 0 0 #D9BC55, 0 0 #D9BC55, 0 0 #D9BC55, 0 0 #D9BC55, 0 0 #D9BC55, 0 0 #D9BC55, 0 0 #D9BC55, 0 0 #D9BC55;
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
    }
    100% {
      -webkit-box-shadow: 1px -1px #D9BC55, 2px -2px #D9BC55, 3px -3px #D9BC55, 4px -4px #D9BC55, 5px -5px #D9BC55, 6px -6px #D9BC55, 7px -7px #D9BC55, 8px -8px #D9BC55, 9px -9px #D9BC55, 10px -10px #D9BC55,11px -11px #D9BC55, 12px -12px #D9BC55, 13px -13px #D9BC55, 14px -14px #D9BC55, 15px -15px #D9BC55,16px -16px #D9BC55, 17px -17px #D9BC55, 18px -18px #D9BC55, 19px -19px #D9BC55;
              box-shadow: 1px -1px #D9BC55, 2px -2px #D9BC55, 3px -3px #D9BC55, 4px -4px #D9BC55, 5px -5px #D9BC55, 6px -6px #D9BC55, 7px -7px #D9BC55, 8px -8px #D9BC55, 9px -9px #D9BC55, 10px -10px #D9BC55,11px -11px #D9BC55, 12px -12px #D9BC55, 13px -13px #D9BC55, 14px -14px #D9BC55, 15px -15px #D9BC55,16px -16px #D9BC55, 17px -17px #D9BC55, 18px -18px #D9BC55, 19px -19px #D9BC55;
      -webkit-transform: translateX(-19px) translateY(19px);
              transform: translateX(-19px) translateY(19px);
    }
  }
  

/* 测试 方案一 */
/*
* Scut, a collection of Sass utilities
* to ease and improve our implementations of common style-code patterns.
* v1.3.0
* Docs at https://davidtheclark.github.io/scut
*/

.wrapper--team {
  margin: 0;
  padding: 2rem 1rem;
  /* background-color: #E9E7D0; */
}
.wrapper--team p{
  text-indent: 0px;
  
}

.l-container {
  margin: 0 auto;
}

@media screen and (min-width: 64em) {
  .l-container {
    max-width: 64rem;
  }
}
@media screen and (min-width: 75em) {
  .l-container {
    max-width: 75rem;
  }
}
.team-grid {
  margin:70px;
  text-align: center;
  /* *zoom: 1; */
}
.team-grid:before, .team-grid:after {
  content: " ";
  display: table;
}
.team-grid:after {
  clear: both;
}

.team-grid__member {
  font-family: ff-tisa-web-pro;
  max-width: 100%;
  padding: 0.5rem;
  margin: 0 0 0.5rem;
  display: inline-block;
  float: none;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

@media screen and (min-width: 28em) {
  .team-grid__member {
    width: 49%;
    max-width: none;
  }
}
@media screen and (min-width: 42em) {
  .team-grid__member {
    width: 32.5%;
  }
}
@media screen and (min-width: 62em) {
  .team-grid__member {
    width: 19.45%;
  }
}
.team-grid__member {
  position: relative;
  overflow: hidden;
  width: 8cm;/* 调整大小，十厘米一下是三个一排，以上是两个一排 */
}



.member__info {
  color: #fff;
  height: auto;
  width: auto;
  opacity: 0;
  position: absolute;
  top: 1rem;
  left: 1rem;
  right: 1rem;
  bottom: 1rem;
  background: rgba(101, 12, 12, 0.85);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: opacity 1.2s ease-in-out;
}

.member__name {
  color: #D9BC55;
  font-size: 1.7rem;/* 角色大小 */
  letter-spacing: 1px;
  line-height: 1.2rem;
  margin-bottom: 0;
  padding: 0 12px;
}

.member__title {
  margin-bottom: 0.75rem;
  font-size: 1.3rem;/* 段落大小 */
  font-weight: normal;
  line-height: 1.5rem;
  padding: 0 1.5rem;
  text-align: left;/* 整体靠右避免空格 */
}


.team-grid__member:hover .member__info {
  animation: shake 1.2s;
  Animation-fill-mode: forwards;
  opacity: 1;
  
}

.member__info:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

.center-vert-content {
  display: inline-block;
  vertical-align: middle;
}
/* 测试 */


/* Our Team 方案二
-------------------------------------------------------*/

.our-team .team-row {
    margin-left: -40px;
    margin-right: -40px;
  }
  
  .our-team .team-wrap {
    padding: 0 40px;
  }
  
  .our-team .container-fluid {
    padding: 0 50px;
  }
  
  .team-img img {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    overflow: hidden;
    width: 100%;
  }


  .team-member,
  .team-img {
    position: relative;
    overflow: hidden;
  }
  
  .team-title {
    margin: 30px 0 7px;
    font-size: 30px;/* 一类型照片下面的名字 */
  }
  
  .overlay {
    background-color: rgba(20,20,20,.7);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  
  .team-details {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 0;
    padding: 5%;
    overflow: hidden;
    width: 100%;
    z-index: 2;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  
  .team-details pt {
    color: #fff;
    font-size: 0.4cm;
  }

  .team-details pt2 {
    color: #fff;
    font-size: 0.4cm;
  }
  .team-img:hover .team-details {
    opacity: 1;
    margin-top: -80px;
  }
  
  .team-img:hover .overlay {
    opacity: 1;
  }
  
  