/*背景图片*/
.bg-footer {
    background-image: url('../img/bg-footer.jpg') !important; /* 设置背景图片的路径 */
    background-size: cover; /* 让背景图片覆盖整个元素 */
    background-position: center; /* 将背景图片居中显示 */
    background-repeat: no-repeat; /* 防止背景图片重复 */
    }
/*背景字体颜色*/
.text-black{--bs-text-opacity: 1;color:rgba(var(--bs-black-rgb), var(--bs-text-opacity)) !important}

/*字体*/
.text-font{
    font-family: 'Noto Sans SC', sans-serif;
}

/*字体大小*/
.fs-6{font-size:2rem !important}.fst-italic{font-style:italic !important}